<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password Page</title>
    
    


</head>
<body>
	<section>
		<div class="container p-5">
			<div class="row align-items-center justify-content-center">
				<!-- Image Section -->
				<div class="col-md-6 p-5">
					<img alt="E-commerce Image" src="https://mstrader-banner.s3.ap-south-1.amazonaws.com/ecom.png" width="100%">
				</div>
				
				<!-- Login Form Section -->
				<div class="col-md-6 p-5">
					<div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header">
							<p class="fs-3 text-center">Reset Password</p>
                            <th:block th:if="${session.sucMsg}">
								<p class="text-success fw-bold" th:text="${session.sucMsg}"></p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold" th:text="${session.errorMsg}"></p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>							
						</div>
						<div class="card-body">
							<form action="/resetPassword" method="post" id="resetPassword">
								<div class="mb-4">
									<label class="form-label">New Password</label>
									<input class="form-control" name="password" type="password" placeholder="Enter your password" required>
								</div>
								<div class="mb-4">
									<label class="form-label">Confirm Password</label>
									<input class="form-control" name="confirm_password" type="password" placeholder="Enter your confirm password" required>
								</div>
                                <input type="hidden" th:value="${token}" name="token">
								<div class="mb-3 text-end">
									<button type="submit" class="btn btn-primary text-white">Reset Password</button>
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>    

</body>
</html>
